# Python Tutorial

In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os

# keywords
keywords are the reserved words in python and cant be used as an identifier

In [2]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist)

35

## identifiers
an identifier is a name given to entities like class,variables , functions etc It helos to differentiate one entity from another


### rules
1.identifier cant start with a digit
2.identifier cant use special symbols,
3.keywords cant be used as identifiers
4.Identifier can be a combination of letters in lowercas or uppercase can include numbers and underscore

# comments in python
comments can be used to explain the code or to improve readability

In [5]:
#Single line comment
""" 
multi line comment
"""

' \nmulti line comment\n'

# statement

instructions that a python interpreter can execute

In [8]:
A=10 # single line statement
A

10

In [10]:
# multiline statement
B=['a',
  'b',
  'f']
B

['a', 'b', 'f']

# Indentation

indentation refers to the spaces at the begining of a code line.It is very important as python uses indentation to indicate a block of code.if the indentationt is not correct we eill endup with indentationError error.

In [11]:
a=10
if a==10:
    print('a  is equal to 10')

a  is equal to 10

In [12]:
# if indentation is skipped we will encounter"INDENTATIONERROR"
a=10
if a==10:
print('a is equal to 10')

IndentationError: expected an indented block after 'if' statement on line 3 (1524224772.py, line 4)

In [13]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [15]:
j=20
for i in range(0,5):
    print(i)# inside the for loop
print(j)# outside the for loop

0
1
2
3
4
20

# Docstrings
1)docstrings provide a convenient way of associating documentation with functions,classes,methods ormodules
2)they appear right after the definition of a function,method , class or module

In [16]:
def square(num):
    return num**2
"""square function  will return the square of a numver"""

'square function  will return the square of a numver'

In [17]:
square(3)

9

In [18]:
square._doc_ # we can access the docstring using _doc_ method

AttributeError: 'function' object has no attribute '_doc_'

In [19]:
evenodd._doc_

NameError: name 'evenodd' is not defined

In [20]:
def evenodd(num):
    if num%2==0:
        print("even number")
    else:
        print("odd number")
    
    
    """evenodd function: thid function will test whther a number is even or odd
    """

In [21]:
evenodd(7)

odd number

In [22]:
evenodd(8)

even number

In [23]:
evenodd._doc_

AttributeError: 'function' object has no attribute '_doc_'

# variable

a python variable is a reserved memory location to store values.a variabke is created the moment you first assign  a value to it

In [24]:
p=30

In [25]:
'''
id() function returns the "identity" of the object.
The identity of an object -is an integer
                         - guaranteed to be unique
                        -constant for this object during its lifetime
'''

'\nid() function returns the "identity" of the object.\nThe identity of an object -is an integer\n                         - guaranteed to be unique\n                        -constant for this object during its lifetime\n'

In [26]:
id(p)

2606870561936

In [27]:
hex(id(p))#memory address of the variable

'0x25ef5980490'

# variable assignment

In [28]:
intvar=10
floatvar=2.48
strvar="python language"


print(intvar)
print(floatvar)
print(strvar)

10
2.48
python language

In [30]:
intvar,floatvar,strvar=10,2.48,'python language'# multpe assignments using commas
print(intvar)
print(floatvar)
print(strvar)

10
2.48
python language

In [31]:
p1=p2=p3=p4=18#all variables pointing to same value
print(p1,p2,p3,p4)

18 18 18 18

# data types

## numeric

In [35]:
# integer data type
val1=10 
print(val1)
print(type(val1))
print(sys.getsizeof(val1))
print(val1,'is integer?', isinstance(val1,int))

10
<class 'int'>
28
10 is integer? True

In [36]:
#float data type
val2=92.78
print(val2)
print(type(val2))
print(sys.getsizeof(val2))
print(val2,"is float?", isinstance(val2,float))

92.78
<class 'float'>
24
92.78 is float? True

In [37]:
# complex data type
val3=25+10j
print(type(val3))
print(val3)
print(sys.getsizeof(val3))
print(val3,'is complex?', isinstance(val3,complex))

<class 'complex'>
(25+10j)
32
(25+10j) is complex? True

In [39]:
sys.getsizeof(int())# size of int object in bytes

24

# boolean

boolean data type can have only two possible values true or false

In [40]:
bool1=True
bool2=False

In [41]:
print(type(bool1))
print(type(bool2))

<class 'bool'>
<class 'bool'>

In [42]:
isinstance(bool1,bool)

True

In [43]:
bool(0)

False

In [44]:
bool(1)

True

In [46]:
bool(None)

False

In [47]:
bool(False)

False

# strings

## string creation

In [48]:
str1="Hello Python"
print(str1)

Hello Python

In [49]:
mystr="Hello World"
print(mystr)

Hello World

In [51]:
mystr='''hello
       world
'''
print(mystr)

hello
       world

In [54]:
mystr='wohoo'
mystr=mystr*5
mystr

'wohoowohoowohoowohoowohoo'

In [55]:
len(mystr)

25

# string indexing

forward indexing starts from left and zero
backward indexing starts from right and zero

In [57]:
str1

'Hello Python'

In [58]:
str1[0] #first character in string

'H'

In [59]:
str1[len(str1)-1] # last character in string using len fuction

'n'

In [60]:
str1[-1]

'n'

In [61]:
str1[6]

'P'

# string slicing

In [62]:
str1[0:5] 
#string slicing: fetch all characters from 0to 5 index location

'Hello'

In [63]:
str1[6:12]

'Python'

In [64]:
str1[-4:] #retreives last four characters of the string

'thon'

In [65]:
str1[-6:] # retreives last six characters of the string

'Python'

In [66]:
str1[:4]#retreives first four characters of the string

'Hell'

In [67]:
str1[:6]# retreives first six characters of the string

'Hello '

# update & deleting string

In [68]:
str1

'Hello Python'

In [69]:
# srings are immutable which means elements of a string cannot be changed
str[0:5]='holaa'

TypeError: 'type' object does not support item assignment

In [70]:
del str1 #delete sring

# string concatenation

In [71]:
s1='hello'
s2='simmi'
s3=s1+s2
print(s3)

hellosimmi

In [74]:
s3=s1+"   "+s2
print(s3)

hello   simmi

# iterating through a string

In [75]:
mystr1='hello everyone'

In [76]:
#iteration
for i in mystr1:
    print(i)

h
e
l
l
o

e
v
e
r
y
o
n
e

In [77]:
for i in enumerate(mystr1):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'e')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [78]:
list(enumerate(mystr1))#enumerate method adds counter to an iterable

[(0, 'h'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'e'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

# string membership

In [80]:
# string membership

mystr1="Hello Everyone"

print('Hello'in mystr1)
print('Everyone' in mystr1)
print('hi' in mystr1)

True
True
False

# string partioning

In [82]:
'''
The partition() method searches for a specified string and splits into

-The first element contains the part before the argument string.

-The second element contains the argument string

-The third element contains the part after the argument sting
'''

str5="Natural language processing with python and R and Java"

L=str5.partition("and")
print(L)

('Natural language processing with python ', 'and', ' R and Java')

In [83]:
"""
THe rpartition() method searches for the last occurence of the specified string 
containg three elements

_ the first element contains the part before the argument string.
_The second element contains the argument string
_The third element contains the part after the argument string
"""

str5="Natural language processing with python and R and Java"
L=str5.rpartition("and")
print(L)

('Natural language processing with python and R ', 'and', ' Java')

# string functions

In [84]:
mystr2="   Hello everyone  "

mystr2

'   Hello everyone  '

In [85]:
mystr2.strip()#removes white spaces from begining and end

'Hello everyone'

In [86]:
mystr2.rstrip()
#removes all white spaces from the end of the string

'   Hello everyone'

In [87]:
mystr2.lstrip()#removes all whitespaces at the begining of thestring

'Hello everyone  '

In [89]:
mystr2="************Hello everyone*******************ALL THE BEST*******"
mystr2

'************Hello everyone*******************ALL THE BEST*******'

In [90]:
mystr2.strip('*')
#removes all asterick characters from begining& end of the string

'Hello everyone*******************ALL THE BEST'

In [91]:
mystr2.rstrip('*') 
#removes all * characters at the end of the string

'************Hello everyone*******************ALL THE BEST'

In [92]:
mystr2.lstrip('*')
# removes all * at the begining of string

'Hello everyone*******************ALL THE BEST*******'

In [93]:
mystr2=" Hello Everyone "

In [94]:
mystr2.lower()#return whole string in lower case

' hello everyone '

In [95]:
mystr2.upper()#returns all string in uppercase

' HELLO EVERYONE '

In [96]:
mystr2.replace('Hello','Hollow')
# replace substring hello with hollow

' Hollow Everyone '

In [98]:
mystr2.replace(" "," ")# removes all white spaces using repalce function

' Hello Everyone '

In [99]:
mystr5="one two three one two two three"

In [100]:
mystr5.count("one")#number of times string"one" occured in string

2

In [101]:
mystr5.startswith("one")

True

In [102]:
mystr5.endswith("three")

True

In [103]:
mystr4=" one two three four five six seven eight nine ten"

In [104]:
mylist=mystr4.split()#split string into substring
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [108]:
#combining string & numbers using format method
item1=40
item2=55
item3=77

res="cost of item1,item2 and item3 are {},{} and {}"

print(res.format(item1,item2,item3))

cost of item1,item2 and item3 are 40,55 and 77

In [109]:
#combinig string & numbers using format method
item1=40
item2=55
item3=77

res="cost of item3,item2 and item1 are{2},{1} and {0}"

print(res.format(item1,item2,item3))

cost of item3,item2 and item1 are77,55 and 40

In [1]:
str2="WELCOME EVERYONE"
str2=str2.center(100 )
#centre align the string using a specific character
print(str2)

                                          WELCOME EVERYONE

In [2]:
str2="WELCOME EVERYONE"
str2=str2.center(180,'*')
print(str2)

**********************************************************************************WELCOME EVERYONE**********************************************************************************

In [4]:
str2="WELCOME EVERYONE"
str2=str2.rjust(50)#right align the string using a special character
print(str2)

                                  WELCOME EVERYONE

In [5]:
str2="WELCOME EVERYONE"
str2=str2.rjust(50,'*')
print(str2)

**********************************WELCOME EVERYONE

In [6]:
str4="one two three four five six seven"
loc=str4.find("five")
#find the location of word "five" in the string
print(loc)

19

In [7]:
str4="one two three four five six seven"
loc=str4.index("five")
print(loc)

19

In [8]:
mystr6="123456789"
print(mystr6.isalpha())#returns true if all the characters in the text are letters
print(mystr6.isalnum())#returns true if a string contains only letters or num
print(mystr6.isdecimal())#returns true if all the characters are decimals
print(mystr6.isnumeric())#returns true if all the characters are numeric

False
True
True
True

In [9]:
mystr6="abcde"
print(mystr6.isalpha())#returns true if all the characters are letters
print(mystr6.isalnum())#returns true if a string contains only letters and numvers
print(mystr6.isdecimal())#returns true if all the characters are decimal
print(mystr6.isalnum())#returns true if all the characters are numeric

True
True
False
True

In [10]:
mystr6='abc12309'
print(mystr6.isalpha())#returns true if all the characters are letters
print(mystr6.isalnum())#returns true if a string contains only letters and numvers
print(mystr6.isdecimal())#returns true if all the characters are decimal
print(mystr6.isalnum())#returns true if all the characters are numeric

False
True
False
True

In [11]:
mystr7='ABCDEF'
print(mystr7.isupper())
#returns true if all the characters are in uppercase
print(mystr7.islower())
#returns true if all the characters are in lower case

True
False

In [12]:
mystr8='abcdef'
print(mystr8.isupper())#returns true if allthe characters are in upper case
print(mystr8.islower())#returns true if all the characters are in lower case

False
True

In [13]:
str6="one two three four one two two three five five six one ten eight ten nine"
loc=str6.rfind("one")#last occurence of word in string

In [14]:
loc=str6.rindex("one")#laste occerence of word one in string
print(loc)

51

In [15]:
text="  abc def ghi  "
text.rstrip()

'  abc def ghi'

In [17]:
text="  abc def ghi  "
text.lstrip()

'abc def ghi  '

In [18]:
text="  abc def ghi  "
text.strip()

'abc def ghi'

# using escape character

In [19]:
#using double quotes in the string is not allowed.
mystr="my favouring tv series is "game of thrones""

SyntaxError: invalid syntax (1591027035.py, line 2)

In [23]:
#using escape character to allow illegal characters
mystr="my favourite seris is \"game of throne\""
print(mystr)

my favourite seris is "game of throne"

# List
1)list is an ordered sequence of items
2)we can have different data types under alist.
Eg:we can have integer,float and string items in a same list

## list creation

In [24]:
list1=[] #empty list

In [25]:
print(type(list1))

<class 'list'>

In [26]:
list2=[10,30,60]#list of integer numbers

In [27]:
list3=[10.77,30.66,60.89]# list of float numbers

In [28]:
list4=['one','two','three']#list of strings

In [29]:
list5=['asif',25,[50,100],[150,90]]#mested list

In [30]:
list6=['asif',25,[50,100],[150,90],{'john','david'}]

In [31]:
list7=[100,'asif',17,763]# list of mixed data types

In [32]:
len(list6)

5

# list indexing
forward and backwrd indexing

In [33]:
list2[0]#retreive first element of list

10

In [34]:
list6[3]# retreive fouth element

[150, 90]

In [35]:
list4[0][0]
#nested indexing:access the first character of first list element

'o'

In [36]:
list4[-1]#last item of the list

'three'

In [37]:
list5[-1]

[150, 90]

# list slicing

In [38]:
mylist=['one','two','three','four','five','six','seven','eight']

In [39]:
mylist[0:3]#return all items from 0th to 3rd index location excluding the iten

['one', 'two', 'three']

In [40]:
mylist[2:5]#llist all items from 2nd to 5th index location excluding the item

['three', 'four', 'five']

In [41]:
mylist[0:3]#return first three items

['one', 'two', 'three']

In [42]:
mylist[-3:]#reurn last three items

['six', 'seven', 'eight']

In [43]:
mylist[-2:]# return first two items

['seven', 'eight']

In [44]:
mylist[-1]#return last item of the list

'eight'

In [45]:
mylist[:]#rerurn whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# Add,Remove& Change items

In [46]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [47]:
mylist.append('nine')#add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [48]:
mylist.insert(9,'ten')# add item at index location 9

In [49]:
mylist.insert(1,'ONE')# add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [50]:
mylist.remove("ONE")#remove item ONE
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [51]:
mylist.pop()#remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [52]:
mylist.pop(8)#remove item at index location 8

'nine'

In [55]:
del mylist[4]#remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'six', 'seven']

In [57]:
# change value of the string
mylist[0]=1
mylist[1]=2
mylist[2]=3
mylist

[1, 2, 3, 'four', 'six', 'seven']

In [58]:
mylist.clear()# deletes all items in the list
mylist

[]

In [59]:
del mylist #delete the whole list
mylist

NameError: name 'mylist' is not defined

# copy list

In [64]:
mylist=['one','two','three','four','five','six','seven','eight','nine']

In [65]:
mylist1=mylist #create a new reference new list1

In [66]:
id(mylist),id(mylist1)#addres of both mylist & mylist1 is same

(1900244592640, 1900244592640)

In [67]:
mylist2=mylist.copy()#create a copy of list

In [68]:
id(mylist2)#address of mylist2 will be different from mylist

1900244768960

In [69]:
mylist[0]=1

In [70]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [71]:
mylist1 #mylist1 will also be impacted as it is pointing at same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [72]:
mylist2 #copy of list wont be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

# join lists

In [73]:
list1=['one','two','three','four']
list2=['five','six','seven','eight']

In [75]:
list3=list1+list2 #join two list by + operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [77]:
list1.extend(list2)#append list2 with list1
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

# List membership

In [78]:
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [79]:
'one' in list1 #check if 'one'exists in the list

True

In [80]:
'ten' in  list1 #check if 'ten' exists in list

False

In [81]:
if 'three' in list1:
    #check if three exist in list
    print('three  is present in list')
else:
    print('three is present in list')

three  is present in list

In [82]:
if 'eleven' in list1:
    print('eleven is present in the list')
else:
    print('eleven is nor present in the list')

eleven is nor present in the list

# Reverse & sort list

In [83]:
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [86]:
list1.reverse()#reverse the list
list1

['eight',
 'seven',
 'six',
 'five',
 'eight',
 'seven',
 'six',
 'five',
 'four',
 'three',
 'two',
 'one']

In [87]:
list1=list1[::-1]#reverse the list
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [89]:
mylist3=[9,5,2,99,12,88,34]
mylist3.sort() #sort list in ascending ordr
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [91]:
mylist3=[9,5,2,99,12,88,34]
mylist3.sort(reverse=True)#sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [94]:
mylist4=[88,65,33,21,11,98]
sorted(mylist4)#returns new sorted list

[11, 21, 33, 65, 88, 98]

In [93]:
mylist4

[88, 65, 33, 21, 11, 98]

# loop through a list

In [95]:
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [97]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight
five
six
seven
eight

In [98]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'five')
(9, 'six')
(10, 'seven')
(11, 'eight')

# count

In [99]:
list10=['one','two','three','four','one','one','two','three']

In [100]:
list10.count('one')#number of times item one occure in the list

3

In [101]:
list10.count('two')#occurence ot item two in the list

2

In [102]:
list10.count('four')#occurrence of item 'four' in the list

1

# ALL/ ANY

the all() method returns:
    -True-if all elements in a list are true
    -False if any element in a list is false
    
    
 The any() function returns true if any elment in the list is True.if not, any() returns false

In [103]:
L1=[1,2,3,4,0]

In [104]:
all(L1) #will return false as one value is false(value 0)

False

In [105]:
any(L1)# will return true as we have items in thelist with true value

True

In [106]:
L2=[1,2,3,4,True,False]

In [107]:
all(L2)# returns false as one valuse is false

False

In [108]:
any(L2)#Will return true as we have items in the list with True vale

True

In [109]:
L3=[1,2,3,True]

In [110]:
all(L3)# will return true as all items in the list are True

True

In [111]:
any(L3)#will return true as we have items in the list with True value

True