# Tuples

1)Tuple is similar to list except that the objects in tuple are immutable which means we cannot change the element of a tuple once assigned.
2)when we do not want to change the data over time,tuple is a preferred data type.
3)Iterating over the elements of a tuple is faster compared to iterating over a list

## Tuple Creation

In [1]:
tup1=()  #empty tuple

In [2]:
tup2=(10,30,60)#tuple of integers numbers

In [3]:
tup3=(10.77,30.66,60.89)#tuple of float numbers

In [4]:
tup4=('one','two','three')#tuple of strings

In [5]:
tup5=('asif',25,(50,100),(150,90))# nested tuples

In [6]:
 tup6=(100,'asif',17.765)#tuple of mixed data types

In [7]:
tup7=('asif',25,[50,100],[150,90],{'john','David'},(99,22,33))

In [8]:
len(tup7)

6

# Tuple indexing

In [30]:
tup2[0]#retrieve first element of the tuple

10

In [10]:
tup4[0]#retrieve first element of the tuple

'one'

In [11]:
tup4[0][0]
#nested indexing-accesss the first character of the first tuple element

'o'

In [12]:
tup4[-1]#lat item of the tuple

'three'

In [13]:
tup5[-1]#last item of the tuple

(150, 90)

# Tuple slicing

In [32]:
mytuple=('one','two','three','four','five','six','seven','eight','nine')

In [33]:
mytuple[0:3]#return all items from 0th to 3rd index location excluding the item

('one', 'two', 'three')

In [34]:
mytuple[2:5]
#list all items from 2nd index to 5th index location excluding the last item

('three', 'four', 'five')

In [35]:
mytuple[:3]
# return first three items

('one', 'two', 'three')

In [36]:
mytuple[:2]
# return first two items

('one', 'two')

In [37]:
mytuple[-3:]
#returns last three items

('seven', 'eight', 'nine')

In [38]:
mytuple[-2:]
#return last  two items

('eight', 'nine')

In [39]:
mytuple[-1]
#returns last item of the tuple

'nine'

In [40]:
mytuple[:]
#return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

# Remove & Change items

In [41]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [42]:
del mytuple[0]
#Tuples are immutable which means we cant delete tuple items|

TypeError: 'tuple' object doesn't support item deletion

In [43]:
mytuple[0]=1#Tuples are immutable which means we cant change tuple items

TypeError: 'tuple' object does not support item assignment

In [44]:
  del mytuple #Deleting entire tuple object is possible

# loop through a tuple

In [46]:
mytuple=('one','two','three','four','five','six','seven','eight','nine')

In [47]:
mytuple[0:3]

('one', 'two', 'three')

In [48]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [49]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight
nine

In [50]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'nine')

# count

In [51]:
mytuple1=('one','two','three','four','one','one','two','three')

In [52]:
mytuple.count('one')
#Number of times item 'one'occured in the tuple

1

In [53]:
mytuple1.count('two')
#occurence of two in the table

2

In [54]:
mytuple1.count('four')
#occurence of item 'four' in the tuple

1

# Tuple membership

In [55]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [56]:
'one' in mytuple #check if one exist in tuple

True

In [57]:
'ten'in mytuple
# check if ten exist in the tuple

False

In [59]:
if 'three' in mytuple: #check if three exists in the tuple
    print('three is present in tuple')
else:
    print('three is not present in tuple')

three is present in tuple

In [60]:
if 'eleven' in mytuple:#check if 'eleven'exist in the tuple
    print('eleven is present in tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

# index position

In [61]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')

In [62]:
mytuple.index('one')#index of first element equal to "one"

0

In [63]:
mytuple.index('five')
#index of element 'five'

4

In [64]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [65]:
mytuple1.index('one')

0

# sorting

In [66]:
mytuple2=(43,67,99,12,6,90,67)

In [67]:
sorted(mytuple2)
#returns a new sorted list and doesnt change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [68]:
sorted(mytuple2,reverse=True)
# sorts in descending order

[99, 90, 67, 67, 43, 12, 6]

# Sets

1)unordered & unindexed collection of items
2)set elements are unique.Duplicate elements are not allowed
3)set items are immutable(cannot be changed)
4)set itself is mutable.we can add or remove items from it

## set creation

In [71]:
myset={1,2,3,4,5}
# set of numbers

In [72]:
myset

{1, 2, 3, 4, 5}

In [73]:
len(myset)

5

In [74]:
my_set={1,1,2,2,3,4,5,5}
# duplicate elements are not allowed
my_set

{1, 2, 3, 4, 5}

In [75]:
myset1={1,79,2.08,3.99,4.56,5.45}
#set of float numbers

In [76]:
myset1

{1, 2.08, 3.99, 4.56, 5.45, 79}

In [77]:
myset2={'jasming','john','tyrion'}# se of strings
myset2

{'jasming', 'john', 'tyrion'}

In [78]:
myset3={10,20,"hola",(11,22,32)}
#mixed data types

In [79]:
myset3

{(11, 22, 32), 10, 20, 'hola'}

In [80]:
myset3={10,20,"hola",[11,22,32]}
# set doesnot allow mutable items like list

TypeError: unhashable type: 'list'

In [81]:
myset4=set()#create a empty set
print(type(myset4))

<class 'set'>

In [82]:
my_set1=set(('one','two','three','four'))

In [83]:
my_set1

{'four', 'one', 'three', 'two'}

## loop through a set

In [87]:
myset={'one','two','three','four','five','six','seven','eight'}
for i in myset:
    print(i)

three
two
eight
five
one
four
seven
six

In [88]:
for i in enumerate(myset):
    print(i)

(0, 'three')
(1, 'two')
(2, 'eight')
(3, 'five')
(4, 'one')
(5, 'four')
(6, 'seven')
(7, 'six')

# # set membership

In [89]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [90]:
'one' in myset # check if one exist in set

True

In [91]:
'ten' in myset

False

In [93]:
if 'three' in myset:# check if "three" exist in the set
    print('three is present in the set')
else:
    print('Three is not present in the set')

three is present in the set

In [96]:
if 'eleven ' in myset: #check if "eleven" exist in the list
    print('eleven is present in the set')
    
else:
    print('elevent is not in set')

elevent is not in set

## add & remove items

In [97]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [98]:
myset.add('nine')
#add item to a set using add() method
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [99]:
myset.update('ten','eleven','twelve')
#add multiple items using update method

In [100]:
myset

{'e',
 'eight',
 'five',
 'four',
 'l',
 'n',
 'nine',
 'one',
 'seven',
 'six',
 't',
 'three',
 'two',
 'v',
 'w'}

In [102]:
myset.remove('two')
# remove item in a set using remove()

In [103]:
myset

{'e',
 'eight',
 'five',
 'four',
 'l',
 'n',
 'nine',
 'one',
 'seven',
 'six',
 't',
 'three',
 'v',
 'w'}

In [106]:
myset.discard('three')
# remove item from a ser using discard method

In [107]:
myset

{'e',
 'eight',
 'five',
 'four',
 'l',
 'n',
 'nine',
 'one',
 'seven',
 'six',
 't',
 'v',
 'w'}

In [108]:
myset.clear()#deletees all items in set
myset

set()

In [109]:
del myset #delete the set object
myset

NameError: name 'myset' is not defined

# copy set

In [111]:
myset={'one','two','three','four','five','six','seven','eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [112]:
myset1=myset #create a new reference "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [113]:
id(myset),id(myset1)
#address of both myset and myset1 is same

(2252038080544, 2252038080544)

In [114]:
my_set=myset.copy()
#create a copy of set
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [116]:
id(my_set) #address of copy set is different from original set

2252038090176

In [117]:
myset.add('eleven')

In [118]:
myset

{'eight', 'eleven', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [119]:
my_set #copy of set wont be impacted with changes made in original set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# set operation

## union

In [129]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}

In [130]:
A | B #union of A and B(all elements from both sets.no diplocatea)

{1, 2, 3, 4, 5, 6, 7, 8}

In [131]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [132]:
A.union(B)
# union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [133]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [134]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [135]:
"""
updates the set calling the update() method with union of A,B &C
for below examples set A will be updated with union of A B C
"""

'\nupdates the set calling the update() method with union of A,B &C\nfor below examples set A will be updated with union of A B C\n'

In [136]:
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## intersection

In [137]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [138]:
A&B

{4, 5}

In [139]:
A.intersection(B)

{4, 5}

In [140]:
Intersection of A and B

SyntaxError: invalid syntax (4132668792.py, line 1)

In [141]:
"""
updates the set calling the intersection_update() method with the intersection 
for below example set A will be updated with the intersection of A & B
"""

'\nupdates the set calling the intersection_update() method with the intersection \nfor below example set A will be updated with the intersection of A & B\n'

In [142]:
A.intersection_update(B)
A

{4, 5}

## Difference

In [143]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [144]:
A-B

{1, 2, 3}

In [145]:
A.difference(B)

{1, 2, 3}

In [146]:
B-A

{6, 7, 8}

In [148]:
B.difference(A)

{6, 7, 8}

In [149]:
"""
updates the set calling the difference_update() method with the difference if set
for below example set B will be updated with the difference of B&A
"""

'\nupdates the set calling the difference_update() method with the difference if set\nfor below example set B will be updated with the difference of B&A\n'

In [150]:
B.difference_update(A)
B

{6, 7, 8}

##  symmetric difference

In [151]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [153]:
A^B
#symetric  difference -set f elements in A and B but not in both

{1, 2, 3, 6, 7, 8}

In [154]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [156]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 4, 5}

# subset,superset & disjoint

In [157]:
A={1,2,3,4,5,6,7,8,9}
B={3,4,5,6,7,8,9}
C={10,20,30,40,50}

In [158]:
B.issubset(A)
#set B is said to be subset of set A if all the elements of B are in A

True

In [160]:
A.issuperset(B)
# set A is said ti be superset of set B if all elemnts of B are in A

True

In [161]:
C.isdisjoint(A)
# two sets are said to b disjoint sets if they have no common element

True

In [162]:
B.isdisjoint(A)

False

#  other builtin functions

In [163]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [164]:
sum(A)

45

In [165]:
max(A)

9

In [166]:
min(A)

1

In [167]:
len(A)

9

In [168]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [169]:
D=sorted(A,reverse=True)

In [172]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

1)Dictionary is a mutable data type in python
2)A python dictionary is a collection of key and value pairs separated by a colon(:)& enclosed
on curly braces
3)KEYS MUST Be unique in a dictionart,duplicate values are allowed

## create Dictionary

In [3]:
mydict=dict()#empty dictionary
mydict

{}

In [4]:
mydict={}#empty dictionary
mydict

{}

In [5]:
mydict={1:'one',2:'two',3:'Three'}
#dictionarey with integers
mydict

{1: 'one', 2: 'two', 3: 'Three'}

In [6]:
mydict=dict({1:'one',2:'two',3:'three'})
# create a dictionary
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [7]:
mydict={'A':'one','B':'two','C':"three"}
#create dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [8]:
mydict={1:'ONE','A':'two',3:"three"}
#dictionary with mixed keys
mydict

{1: 'ONE', 'A': 'two', 3: 'three'}

In [9]:
mydict.keys()
#return dictionary keys using keys()method

dict_keys([1, 'A', 3])

In [11]:
mydict.values()
#return dictionart values using values()method

dict_values(['ONE', 'two', 'three'])

In [12]:
mydict.items()
#access each key-value pair within a dictionart

dict_items([(1, 'ONE'), ('A', 'two'), (3, 'three')])

In [13]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with 
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [14]:
mydict={1:'one',2:'two','A':{'Name':'asif','Age':20},'B':('Bat','cat',"hat")}

In [15]:
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [17]:
keys={'a','b','c','d'} #create a dictionary from a sequence of keys
mydict3=dict.fromkeys(keys)
mydict3

{'a': None, 'c': None, 'b': None, 'd': None}

In [18]:
keys={'a','b','c','d'}
value=[10,20,30]
mydict3=dict.fromkeys(keys,value)
mydict3

{'a': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30], 'd': [10, 20, 30]}

In [21]:
value.append(40)
mydict3

{'a': [10, 20, 30, 40, 40, 40],
 'c': [10, 20, 30, 40, 40, 40],
 'b': [10, 20, 30, 40, 40, 40],
 'd': [10, 20, 30, 40, 40, 40]}

# Accessing items

In [22]:
mydict={1:'one',2:'two',3:'three',4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [23]:
mydict[1]#access item using key

'one'

In [24]:
mydict.get(1)
#access item using get() method

'one'

In [25]:
mydict.get(4)

'four'

In [ ]:
mydict1={'Name':"Asif",'ID':74123,"DOB":1991,'job':'Analyst'}

In [27]:
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [29]:
mydict1['Name']

'Asif'

In [30]:
mydict1.get('job')

'Analyst'

# Add,Remove &Change Items

In [33]:
mydict1={"Name":"Asif","ID":12345,"DOB":1991,"Address":"Hilsnski"}

In [35]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsnski'}

In [36]:
mydict1['DOB']=1992 # changing dictionary items
mydict1['Address']="Delhi"
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [37]:
mydict1['job']='Analyst'
#Adding items in the dictionary

In [38]:
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1992,
 'Address': 'Delhi',
 'job': 'Analyst'}

In [41]:
mydict1.pop('ID')
mydict1

{'Name': 'Asif', 'DOB': 1992, 'Address': 'Delhi'}

In [42]:
mydict1.popitem()
#a random item is cleared

('Address', 'Delhi')

In [43]:
mydict1

{'Name': 'Asif', 'DOB': 1992}

In [48]:
del[mydict1['DOB']]#removing items using dek method
mydict1

{}

In [49]:
mydict1

{}

In [50]:
mydict1.clear()#delte all items using clear method
mydict1

{}

In [51]:
del mydict1#delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

# copy Dictionary

In [52]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [53]:
mydict1=mydict #create a new reference 'mydict1'

In [55]:
id(mydict),id(mydict1)# address is same

(1869611125440, 1869611125440)

In [56]:
mydict2=mydict.copy()
#create a copy of dictionary

In [58]:
id(mydict2)#different address

1869644798080

In [59]:
mydict['Address']='Mumbai'
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [61]:
mydict1 #impacted

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [63]:
mydict2 #not impacted

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

# loop through a dictionary

In [66]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' , 'job':"analyst"}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'job': 'analyst'}

In [67]:
for i in mydict1:
    print(i,'.',mydict1[i])#key &value pair

Name . Asif
ID . 12345
DOB . 1991
Address . Hilsinki
job . analyst

In [68]:
for i in mydict1:
    print(mydict1[i])
    # values

Asif
12345
1991
Hilsinki
analyst

# Dictionary membership

In [69]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [70]:
"Name" in mydict1# check if key is in dict or not

True

In [71]:
"ID" in mydict1

True

In [72]:
'Asif'in mydict1

False

# All/ANY

The all() method returns:
  True-if all keys of the dictionary are true
  False=if any key of the dictinary is false or zerr0
  
  
  The any()function returns true if any key of the dict is True.If not,any() returns false

In [2]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [3]:
all(mydict1)

True

In [4]:
any(mydict1)

True

In [5]:
mydict1[0]='test1'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst', 0: 'test1'}

In [6]:
all(mydict1)

False

In [7]:
any(mydict1)

True

# Dictionary comprehension

In [8]:
double={i:i*2 for i in range(10)}
# double each value using dictionary comprehension
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [9]:
square={i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [10]:
key=['one','two','three','four','five']
value=[1,2,3,4,5]


mydict={k:v for (k,v) in zip(key,value)}
# using dict comprehension to create dictionary
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [11]:
mydict1={'a':10,'b':20,'c':30,'d':40,'e':50}
mydict1={k:v/10 for (k,v) in mydict1.items()} # divide all values in dictionary

In [12]:
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [13]:
str1="Natural language processing"


mydict2={k:v for (k,v) in enumerate(str1)}
#store enumerated value in dictionary

mydict2

{0: 'N',
 1: 'a',
 2: 't',
 3: 'u',
 4: 'r',
 5: 'a',
 6: 'l',
 7: ' ',
 8: 'l',
 9: 'a',
 10: 'n',
 11: 'g',
 12: 'u',
 13: 'a',
 14: 'g',
 15: 'e',
 16: ' ',
 17: 'p',
 18: 'r',
 19: 'o',
 20: 'c',
 21: 'e',
 22: 's',
 23: 's',
 24: 'i',
 25: 'n',
 26: 'g'}

In [14]:
str1="abcdefghijklmnopqrstuvwxyz"
mydict3={i:i.upper() for i in str1} #lower to uppercase
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}